<!DOCTYPE html>
<html>
  <head>
    <title>Pivoraki</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= link_to 'All jorneys', jorneys_path %>
  <%= link_to 'New Jorney',  new_jorney_path %>
    <%= yield %>
  </body>
</html>
